* {
	box-sizing: border-box;
	font-feature-settings: kern;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

:root {
	font-size: 100%;

	--font-text: "Liberation Serif", serif;
	--font-display: "Pretendard Variable", Pretendard, sans-serif;
	--font-code: "Liberation Mono", monospace;

	--bg: #FFF;
	--bg-contrast-1: #EEEEEE;
	--bg-contrast-2: #E9E9E9;
	--bg-contrast-3: #DDD;

	--text: #0F0F0F;
	--text-contrast-1: #222;
	--text-contrast-2: #353535;
	--text-contrast-3: #666;

	--selection-fg: #FFF;
	--selection-bg: #2057AE;

	--mark-fg: var(--text-contrast-1);
	--mark-bg: #D4E3FF;

	--link-fg: #3F24FF;
}


body {
	color: var(--text);
	background: var(--bg);
}

hr {
	border: none;
	border-top: 1px solid var(--text-contrast-3);
}

mark {
	color: var(--mark-fg);
	background: var(--mark-bg);
	padding: 0 0.1rem;
}

blockquote {
	border-left: 0.1rem solid var(--link-fg);
	margin-left: 1rem;
	padding-left: 0.6rem;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

figure {
	display: block;
	color: var(--text-contrast-3);
	text-align: center;
	font-size: 0.95rem;
	font-family: var(--font-text);
}

figure figcaption {
	margin-top: 1rem;
}

