/* Liberation Serif */
@font-face {
	font-family: "Liberation Serif";
	font-weight: 400;
	font-style: normal;
	src: url(/assets/fonts/liberation2/LiberationSerif-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Liberation Serif";
	font-weight: 400;
	font-style: italic;
	src: url(/assets/fonts/liberation2/LiberationSerif-Italic.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Liberation Serif";
	font-weight: bold;
	font-style: normal;
	src: url(/assets/fonts/liberation2/LiberationSerif-Bold.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Liberation Serif";
	font-weight: bold;
	font-style: italic;
	src: url(/assets/fonts/liberation2/LiberationSerif-BoldItalic.ttf);
	font-display: swap;
}

/* Liberation Mono */
@font-face {
	font-family: "Liberation Mono";
	font-weight: 400;
	font-style: normal;
	src: url(/assets/fonts/liberation2/LiberationMono-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Liberation Mono";
	font-weight: 400;
	font-style: italic;
	src: url(/assets/fonts/liberation2/LiberationMono-Italic.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Liberation Mono";
	font-weight: bold;
	font-style: normal;
	src: url(/assets/fonts/liberation2/LiberationMono-Bold.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Liberation Mono";
	font-weight: bold;
	font-style: italic;
	src: url(/assets/fonts/liberation2/LiberationMono-BoldItalic.ttf);
	font-display: swap;
}

