* {
	transition: all 0.1s linear;
}

@media (prefers-reduced-motion: reduce) {
	* {
		transition: none;
	}
}

@media screen and (max-width: 700px) {
	body {
		padding: 0 0.6rem;
	}
}

::selection, ::-moz-selection {
	color: var(--selection-fg);
	background: var(--selection-bg);
}

body {
	margin: 0 auto;
	margin-bottom: 4rem;
	max-width: 57ch;
}

body > header {
	font-size: 1rem;
	font-family: var(--font-code);
	margin-top: 1rem;
	margin-bottom: 3rem;
	text-align: center;
}

body > header > nav a {
	display: inline-block;
}

body > header > nav a:not(:last-of-type) {
	margin-right: 0.6rem;
}

body > footer {
	font-size: 0.85rem;
	font-family: var(--font-code);
	text-align: center;
	word-spacing: -0.15rem;
	margin-top: 2rem;
	color: var(--text-contrast-3);
	border-top: 2px dashed var(--text-contrast-3);
}

body > footer > * {
	margin: 0.8rem 0;
}

code:not(pre code) {
	display: inline-block;
	max-width: 100%;
	overflow: auto;
}

code {
	vertical-align: middle;
}

