* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.25rem;
	font-weight: 400;
	font-family: var(--font-text);
	line-height: 1;
	tab-size: 4;

	white-space: normal;
	word-break: break-word;
	overflow-wrap: break-word;
	hyphens: none;
}

h1, h2, h3, h4 {
	color: var(--text);
	font-family: var(--font-display);
	font-weight: 600;
	line-height: 1.25;
}

p {
	overflow: auto;
	line-height: 1.6;
	margin-top: 1.5rem !important;
}

a, a:visited {
	color: var(--link-fg);
	text-decoration: underline;
	text-decoration-color: var(--link-fg);
	text-underline-offset: 0.3rem;
	line-height: 1.5;
}

a:hover {
	text-decoration: none;
}

body > main > header {
	margin-bottom: 2.5rem;
}

body > main > header > h1 {
	font-size: 2.50rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

body > main > header > time {
	font-size: 1rem;
	color: var(--text-contrast-3);
}

body > main > header > time.updated {
	margin-left: 0.25rem;
	font-style: italic;
}

body > main > article h1 { font-size: 1.40rem; font-weight: 700; }
body > main > article h2 { font-size: 1.35rem; font-weight: 600; }
body > main > article h3 { font-size: 1.30rem; font-weight: 600; }
body > main > article h4 { font-size: 1.25rem; font-weight: 600; }

body > main > article h1,
body > main > article h2,
body > main > article h3,
body > main > article h4 {
	margin-top: 2.5rem;
	margin-bottom: 0.8rem;
}

body > main > article > p {
	margin: 0.6rem 0;
}

body > main > article h1 + p,
body > main > article h2 + p,
body > main > article h3 + p,
body > main > article h4 + p {
	margin: 0.5rem 0 !important;
}

li {
	margin-left: 2rem;
	line-height: 1.5;
}

ul > li:not(:last-of-type), ol > li:not(:last-of-type) {
	margin-bottom: 0.4rem;
}

ul, ol {
	margin: 1rem 0;
}

li ul, li ol {
	margin: 0.15rem 0;
}

li p {
	margin: 0 !important;
}

pre, code {
	font-family: var(--font-code);
	font-weight: normal;
}

pre {
	overflow: auto;
	font-size: 1.1rem;
	line-height: 1.5;

	padding: 0.5rem 0;
	padding-left: 0.5rem;

	border: 1px solid var(--bg-contrast-3);
	color: var(--text-contrast-2) !important;
	background: var(--bg-contrast-1) !important;
}

pre code {
	display: inline-block !important;
	margin-right: 0.5rem !important;
	background: none !important;
	padding: 0 !important;
}

pre, code:not(pre code) {
	border-radius: 0.2rem;
}

code:not(pre code) {
	font-size: 1rem;
	white-space: nowrap;
	padding: 0.1rem 0.25rem;
	color: var(--text-contrast-2);
	background: var(--bg-contrast-2);
}

